*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
}

.header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.content{
    max-width: 49rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.header-overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #060029;
    z-index: 1;
    opacity: 0.6;
}
.header-content{
    z-index: 2;
}

.header-content h1{
    font-size: 1.5rem;
    margin-bottom: 0;
    font-family: 'Roboto Slab', serif;
}

.header-content p{
    font-size: 4rem;
    display: block;
    padding-bottom: 2rem;
    font-family: 'Lobster', cursive;
}

.btn{
    background: #6797f1;
    color: #fff;
    font-size: 1rem;
    padding: 1rem 2rem;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    border-radius: 3px;
}


@media screen 
 and (max-device-width: 550px) 
 and (min-device-width: 0) 
{ 
    .content{
        padding: 0 3rem 0 3rem;
    }
    .header-content h1{
        font-size: 3rem;
        padding-bottom: 3rem;
    }
    .header-content p{
        font-size: 7rem;
        padding-bottom: 2rem;
    }

    .btn{
        font-size: 2.5rem;
    }
}
